# Google Maps API Key configuration
# Получить ключ: https://console.cloud.google.com/

# Скопируй свой API ключ сюда (оставь REACT_APP_GOOGLE_MAPS_API_KEY=)
REACT_APP_GOOGLE_MAPS_API_KEY=

# Если оставишь пустым, будет показана упрощенная карта
